@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
body {
    font-family:'Roboto', Helvetica, sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    padding: 5px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px; 
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    background-color: #1F2937;
}

.top-left {
    display: flex;
    flex-direction: column;
}

button {
    width: 75px;
    padding: 5px 10px;
    margin: 10px 0px;
    background-color: #3882f6;
    color: white;
    border: 0px solid #3882f6;
    border-radius: 7px;
}

.top-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

.top-paragraph {
    color: #E5E7EB;
    font-size: 18px; 
}

.top-picture {
    width: 400px;
    height: 250px;
    margin-left: 100px;
}