@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
body {
    font-family:'Roboto', Helvetica, sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    padding: 5px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px; 
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    background-color: #1F2937;
}

.top-left {
    display: flex;
    flex-direction: column;
}

button {
    width: 75px;
    padding: 5px 10px;
    margin: 10px 0px;
    background-color: #3882f6;
    color: white;
    border: 0px solid #3882f6;
    border-radius: 7px;
}

.top-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

.top-paragraph {
    color: #E5E7EB;
    font-size: 18px; 
}

.top-picture {
    width: 400px;
    height: 250px;
    margin-left: 100px;
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding: 50px 100px;
}

.middle-1 {
    display: flex;
    justify-content: center;
    gap: 50px;padding-bottom: 50px;
}

.pic1,
.pic2,
.pic3,
.pic4 {
    width: 200px;
    height: 200px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.cont1,
.cont2,
.cont3,
.cont4 {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.pic-text {
    text-align: center;
    color: #1F2937;
    font-size: 18px;
}

.middle-2 {
    background-color: #E5E7EB;
    padding: 0px 400px;
    height: 426px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote,
.quote-author {
    color: #1F2937;
}

.quote {
    text-align: left;
    font-size: 36px;
}

.quote-author {
    text-align: right;
    font-size: 18px;
    font-weight: 700;
    padding-top: 25px;
}

.bottom {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bottom-shape {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 250px;
}


.bottom-title {
    font-size: 22px;
    color: white;
    font-weight: 700;
    margin-bottom: 5px;
}

.bottom-subtext {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.button-bottom {
    border: 1px solid white;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 25px;
}